/*********** GENERAL***************/
.navbar{
	padding: 1rem 2rem;
}

.main-container{
	background-color: black;
	color: white;
	text-align: center;
	min-height: 100vh;
    min-width: 100%;
	
}
.invisible{
	display:none;
}
.col{
	
	padding: 1rem;
}

h1{
	padding: 2rem 1rem;
}

nav, footer{
	background-color: white;
	padding: 2rem;
}

footer{
	min-height:50px;
}

/*********** HOMEPAGE ***************/

.banner{
	padding-top: 5rem;
	font-size: 50px;
}

/*********** STARTER HOUSEHOLD ***************/

/*********** NEW SIM ***************/

/*********** INDIVIDUAL RANDOMIZERS ***************/


/*********** FORMS ***************/

form{
	/* display: flex;
	justify-content: center;
	align-content: flex-start;
	gap: 1rem; */
}

.btn{
	margin: 1rem 2rem 2rem 2rem;
}
  
  